spring-boot/sprin-boot-webservices/src/main/resources/META-INF/schemas/user.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://www.rockrolltime.cn/schema" xmlns="http://www.rockrolltime.cn/schema">
    <!--用户对象-->
    <xs:complexType name="User">
        <xs:sequence>
            <xs:element name="id" type="xs:long" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>

        </xs:sequence>
    </xs:complexType>


</xs:schema>
